BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 120
